@import "../styles/mixins";

.card {
  display: flex;
  margin: 20px 0;

  img {
    height: 350px;
    width: 400px;
    border-radius: 5%;
    margin-right: 20px;
  }

  &__shadow {
    box-shadow: inset 0 0 85px rgba(0, 0, 0, 0.4);
    height: 350px;
    width: 400px;
    border-radius: 5%;
    position: absolute;
  }

  &__details {
    display: flex;
    flex-direction: column;

    @include mobile {
      display: none;
    }

    > * {
      flex: 2 1 auto;
    }

    &--tech {
      > span {
        background: #000;
        color: #fff;
        padding: 10px;
        margin-right: 5px;
        border-radius: 10px;
      }
    }
  }
}
