@import "../styles/mixins";

.footer {
  padding: 20px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 100%;

  @include mobile {
    position: initial;
  }

  &__content {
    color: #68C8E3;
  }
}
