@import "../styles/mixins";

.links {
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-left: 10px;
    width: 400px;
    align-self: flex-end
  }

  .link {
    border: 2px white solid;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: background-color 0.5s, color 0.5s;

    &:visited {
      color: black;
    }

    &:hover {
      background-color: initial;
      color: white;
      transition: background-color 0.5s, color 0.5s;
    }
  }
}
