@import "../styles/mixins";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  &__logo {
    @include mobile {
      width: 120px;
      height: 120px;
    }
  }

  &__username {
    margin: 5px 0 15px;
  }
}
