@import "../styles/mixins";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;

  @include desktop {
    align-items: flex-start;
  }

  &__logo {
    @include mobile {
      width: 120px;
      height: 120px;
    }
  }

  &__username {
    margin: 5px 0 15px;
  }
}

.mobile-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    display: none;
  }

  .header__logo {
    max-width: 250px;
    max-height: 250px;
  }
}

.desktop-header {
  display: flex;
  align-items: center;
  justify-content: center;

  .social {
    z-index: 9999;
    margin-left: 10px;
    position: relative;

    &__icon {
      margin-bottom: 0;
    }

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__logo {
    width: 62px;
    height: 62px;
  }

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}