$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 480px;

$main-blue: #13509d;
$background-blue: #08296b;
$yellow: #fdcd31;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}