$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 480px;
$large-deskop-width: 2200px;

$main-blue: #81b2ee;
$black: #000;
$yellow: #FBD91D;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media(min-width: #{$large-deskop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}