@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;900&display=swap");

body {
  background: #fece09;
  max-width: 1600px;
  margin: 0 auto !important;
  font-size: 12px;
  padding: 0 90px;

  @include desktop {
    background: linear-gradient(90deg, $yellow 60%, $background-blue 50%);
  }

  @include mobile {
    overflow: initial;
    max-height: initial;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: 'Nunito', sans-serif !important;
  color: $main-blue;
  margin: 0;
}

.portrait {
  height: 940px;
  position: fixed;
  bottom: -5px;
  right: 280px;
}

.main {
  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

    @include mobile {
      padding-left: 0;
      width: 100%;
    }

    @include tablet {
      padding-left: 0;
      width: 100%;
    }
  }

  &__description {
    font-size: 6vh;
    line-height: 1.45;
    z-index: 999;
    letter-spacing: 1.5px;
    margin-bottom: 30px;

    &:first-of-type {
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 36px;
    }

    span {
      &:first-child {
        color: black;
        margin-right: 10px;
      }
    }
  }

  &__social-footer {
    font-weight: 600;
    margin-top: 50px;

    @include mobile {
      margin-top: 25px;
    }
  }


  &__join {
    font-family: 'Nunito', sans-serif !important;

    @include mobile {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  &__video {
    width: 50%;
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__tiktok-link {
    transition: color 0.5s ease;

    &:visited {
      color: black;
    }

    &:hover {
      color: white;
      transition: color 0.5s ease;
    }
  }

  &__asus {
    color: white;
    transition: color 0.5s ease;

    &:hover {
      color: black;
      transition: color 0.5s ease;
    }
  }
}
