@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;900&display=swap");

body {
  max-width: 1600px;
  margin: 0 auto !important;
  font-size: 12px;
  padding: 0 90px;

  @include desktop {
    background: $black;
    background-size: 10vw, auto;
    background-attachment: fixed;
  }
  @include large-desktop {
    background-size: 8vw, auto;
  }
  @include mobile {
    overflow: initial;
    max-height: initial;
    padding: 0 30px;
    background: $black;
  }

  @include tablet {
    background: $black;
    padding: 0 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: 'Nunito Sans', sans-serif !important;
  color: $yellow;
  margin: 0;
}
