@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Sans+Pro&display=swap");

body {
  background: #fece09 !important;
  max-width: 1600px;
  margin: 0 auto !important;
  max-height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.main {
  background: #fece09 !important;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @include mobile {
      padding-left: 0;
      width: 100%;
    }

    @include tablet {
      padding-left: 0;
      width: 100%;
    }
  }

  &__description {
    font-size: 6vh;
    line-height: 1.45;
    z-index: 999;

    @include mobile {
      font-size: 5vh;
    }

    span {
      &:first-child {
        color: black;
        margin-right: 10px;
      }
    }
  }

  &__secondary-title {
  }

  &__social-footer {
    font-weight: 600;
    margin-top: 50px;

    @include mobile {
      margin-top: 25px;
    }
  }

  &__header {
    display: flex;
  }

  &__about {
    font-size: 2vh;
    line-height: 2.25;
    font-weight: 600;

    font-family: "Source Sans Pro", sans-serif !important;

    @include mobile {
      font-weight: 600;
      font-size: 2vh;
    }
  }

  &__video {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__tiktok-link {
    transition: color 0.5s ease;

    &:visited {
      color: black;
    }

    &:hover {
      color: white;
      transition: color 0.5s ease;
    }
  }
}
